{% extends "base.html.twig" %}

{% block title %}Create Tournament{% endblock %}


{% block content %}

    <h1>Create your Tournament !</h1>
    <h4>It will cost you 100 tokens.</h4>

    <form action="" method="POST" class="big-form">
        <input type="text" placeholder="Tournament name" name="name" id="name">
        <input type="text" placeholder="Enter a price" name="admissionPrice" id="admissionPrice">
        <input type="submit" value="Create" name="buttonCreateTournament">
    </form>

{% endblock %}