{% extends "base.html.twig" %}

{% block title %}List Tournament{% endblock %}


{% block content %}



      <h1>List of Tournaments</h1>
    <ul>
        {% for tournament in tournaments %}
            <li>
                <b>Title:</b> {{ tournament.name }}<br>
                <b>Description:</b> {{ tournament.admissionPrice }}<br>
                <b>Author:</b> {{ tournament.host }}<br>
                <a href="/tournament/{{ tournament.id }}">Voir</a>
            </li>
        {% endfor %}
    </ul>






{% endblock %}