<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block header %}

    {% if session %}

        {% if session.user.role == 'admin' %}

            <a href="/">Accueil</a>
            <a href="/createTournament">Create Tournament As Admin</a>
            <a href="/listTournament">List Tournament</a>
            <a href="/deconnection">Disconnect</a>

        {% elseif session.user.role == 'user' %}

                <a href="/">Accueil</a>
                <a href="/createTournament">Create Tournament</a>
                <a href="/listTournament">List Tournament</a>
                <a href="/deconnection">Disconnect</a>

        {% endif %}

    {% else %}

        <a href="/">Accueil</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
   
    {% endif %}

{% endblock %}
    



    {% block content %}
    {% endblock %}
</body>
</html>