{% extends "/base.html.twig" %}

{% block title %}Buy Tokens{% endblock %}


{% block content %}
    
    <h1>Buy Tokens</h1>

    <form action="" method="POST" id="buyTokenForm">
        <div><input type="radio" name="radioBuyToken" value="500" id="500"><label for="500">500 Tokens</label></div>
        <div><input type="radio" name="radioBuyToken" value="2000" id="2000"><label for="2000">2000 Tokens</label></div>
        <div><input type="radio" name="radioBuyToken" value="5000" id="5000"><label for="5000">5000 Tokens</label></div>
        <div><input type="radio" name="radioBuyToken" value="20000" id="20000"><label for="20000">20.000 Tokens</label></div>
        <input type="submit" value="Buy">

    </form>

{% endblock %}