{% extends "/base.html.twig" %}

{% block title %}Buy Token{% endblock %}


{% block content %}
    
    <h1>Buy Token</h1>

    <form action="" method="POST">
        <input type="radio" name="radioBuyToken" value="500">500Token <br>
        <input type="radio" name="radioBuyToken" value="2000">2000Token <br>
        <input type="radio" name="radioBuyToken" value="5000">5000Token <br>
        <input type="radio" name="radioBuyToken" value="20000">20000Token <br>
        <input type="submit" value="Buy">

    </form>

{% endblock %}